extends ../../layouts/default.pug

block main
    h3 Quản Lý Sản Phẩm
    .card.mb-3 
      .card-header Bộ lọc và Tìm kiếm
      .card-body 
        .row
          .col-6
            each item in filterStatus
              button(class =`btn btn-sm ml-1 btn-outline-success ${item.class}` button-status=item.status) #{item.name}
          .col-6 
            form(id="form-search")
              .input-group 
                input(
                  type="text"
                  placeholder="Nhập từ khóa"
                  name="keyword"
                  class="form-control"
                  value=keyword 
                )
                .input-group-append 
                  button(
                    type="submit"
                    class="btn btn-success"
                  ) Tìm
    .card.mb-3 
      .card-header Danh sách sản phẩm
      .card-body 
        table.table.table-bordered.table-hover.text-center
          thead.table-dark
            tr
              th ID
              th Ảnh
              th Tên Sản Phẩm
              th Giá
              th Trạng Thái
              th Hành Động
          tbody
            each item, index in products
              tr
                td #{index + 1}
                td: img.img-thumbnail(
                  src= item.thumbnail 
                  alt= item.title
                  width="100px"
                  height="auto"
                  )
                td #{item.title}
                td #{item.price}$
                td
                  if (item.status === 'active')
                    span.badge.bg-success Hoạt động
                  else
                    span.badge.bg-danger Dừng hoạt động
                td
                  button(class="btn btn-warning btn-sm") Sửa
                  button(class="btn btn-danger btn-sm ml-1") Xóa  

