extends ../../layouts/default.pug

block main 
    
    if(data.title)
        h1(class="mb-4") Tiêu đề: #{data.title}
    
    if(data.thumbnail)
        div(class="mb-4")
            img(
                src=data.thumbnail 
                style="width: 100x"
            )

    if (data.status)
    div(class="mb-4")
        span Trạng thái: 
        if (data.status === `active`)
            span(class="badge bg-success") Hoạt động
        else if (data.status === `inactive`)
            span(class="badge bg-danger") Dừng hoạt 
            
    if(records)
        h1(class="mb-4") Danh mục cha: <b>#{records.title}</b>

    if(data.position)
        h1(class="mb-4") Vị trí: <b>#{data.position}</b>

    if(data.description)
        h1(class="mb-4") Mô tả: !{data.description}

    td
        a(href=`${prefixAdmin}/products-category/edit/${data.id}` class="btn btn-warning btn-sm-1") Chỉnh sửa
        a(href="/admin/products-category" class="btn btn-warning") Quay lại

    script(src="/admin/js/product.js") 